// Third-party
@import 'vendor/normalize';

// Modules
@import 'modules/colors';

$font-stack:'Lato', sans-serif;

$header-text: $color-lightest;
$header-background: $color-darkest;

$nav-text: $color-darkest;
$nav-link-background: $color-lightest;

$width-breakpoint-md: 830px;

//*{
//  border: 1px solid blue;
//}

html{
  font-family: $font-stack;
}

body{
  margin: 0 0;
  padding: 0 0;
  background: url(../img/swirl_pattern/swirl_pattern.png) repeat fixed 0 0;
  background-color: $color-tan;
}

header{
  background-color: rgba($header-background, 1.0);
  color: $header-text;
  border-bottom: 2px solid $color-darker;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  h1, h2{
    margin: 0 0 ; 
  }
}


a{
  color:darken($color-gold, 20%);
}
a:hover{
  text-decoration: none;
  color: $color-gold;
}

#name-logo{
  display: inline-block;
  h1 {
    text-decoration:none;
    margin: 0 0;
    font-size: 4em;
    line-height: 0.8em;
    a{
      text-decoration: none; 
      color: $header-text;
    }
    a:hover{
      color: $color-darker; 
    }
  }
}

@media screen and (max-width: $width-breakpoint-md) {
  #name-logo{
    width: 100%;
    h1{
      display: inline-block;
      font-size: 2em;
      margin: 0.25em 0.25em;
    }
    h2{
      display:none;
    }
  }
}

nav {
  float:right;
} 
nav ul {
  padding: 0;
  margin: auto auto;
}

nav li {
  display:inline-block;
  height: 80px;
  font-size: 1.3em;
  color: $color-gold;
  margin: 0px 20px 0 0;

}

nav a {
  width: 110px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  display: block;
  text-decoration: none;
  color: $color-gold;
  padding-left: 10px;
}

nav a:hover,
{
  color: $color-darkest;
  background-color: $color-lightest; 
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
  border-left: 10px groove $color-darker;
  padding-left: 0;
}

nav a.active {
  background-color: $color-lightest; 
  color: $color-darkest;
  border-left: 10px ridge $color-gold;
  padding-left: 0;
}

@media screen and (max-width: $width-breakpoint-md) {
  nav{
    width: 100%;
    li{
      height: 40px;
      width: 31.8%;
      margin: 0 0;
    }
    a{
      width: 100%;
      line-height: 40px;
    }
    a.active{
      border-left: none;
      padding-left: 10px;
    }
  }
}

.section-wrapper{
  margin: 75px 50px 32px;  //Acts as a 'min-margin' on section, which has auto
}

@media screen and (max-width: $width-breakpoint-md) {
  .section-wrapper{
    margin: 60px 0;
  }
}

section{
  margin: 0 auto;
  max-width: 1200px;
  padding: 5px 0;
  background-color: rgba($color-tan, 0.8);
  box-shadow: 0 0 15px 5px $color-darker;
}

article{
  background-color: $color-lightest;
  margin: 20px 50px;
  border: 2px solid $color-darkest;
  border-top: 10px ridge $color-darker;
  overflow: hidden;
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: $width-breakpoint-md) {
  article{
    margin: 20px 0;
  }
}

.article-header{
  color: $color-gold-bright;
  background-color: $color-darkest;
  border-bottom: 5px solid $color-gold;
  padding-top: 10px;
  *{
    margin: 0 5px 0 20px;
  }
  h1{
    font-size: 1.8em; 
    font-weight: 900;
    font-style: italic;
  }
  h2{
    font-size: 1.5em; 
    color: $color-lightest;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

.article-body{
  div{
    vertical-align: top;
  } 
}

.article-img {
  width: 35%;
  overflow: auto;
  float:left;
}

.article-img img{
  display: block;
  width: 300px;
}

.article-text{
  width: 60%;
  max-height: 300px;
  overflow: auto;
  margin: 0 2%;
  float:right;
  font-size:1.1em;
  li ul{ //nested list
    padding-left: 30px;
  }
}

@media screen and (max-width: $width-breakpoint-md) {
  .article-img, .article-text{
    float: none;
    width: auto;
  }
  .article-img{
    background: $color-darkest;
    img{
      margin: 0 auto;
    }
  }
}

.about-img{
  margin: 20px 20px;
  float: right;
  text-align: center;
}

@media screen and (max-width: $width-breakpoint-md) {
  .about-img{
    margin: 0 0;
    margin-bottom: 0.5em;
  }
}

.about-text{
  margin: 20px 20px; 
  font-size: 1.1em;
  p{
    margin: 20px  0; 
  }
  a{
    color: darken($color-gold, 20%); 
  }
  a:hover{
    color: $color-gold;
  }
  h2{
    margin: 15px 0; 
  }
  h3{
    margin: 10px 0; 
  }
  h4{
    margin: 0 0 0 5px;
    font-style: italic;
    font-size: 1.2em;
  }
  ul{
    margin: 10px 0;
    li {
      margin: 3px 0;
    }
  }
}

footer{
  background-color: rgba($header-background, 1.0);
  color: $color-tan;
  border-top: 2px solid $color-darker;
  overflow: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  a{
    padding: 5px 10px;
    color: $color-gold;
  }
  a:hover{
    color: $color-tan;
    text-decoration: none;
  }
  .right-link{
    float:right;
    padding-right: 10px;
  }
  .left-link{
    padding-left: 10px;
    margin-left: 0px;
    float:left;
  }
}
