// Third-party
@import 'vendor/normalize';


$font-stack:'Lato', sans-serif;
$header-background: grey;

*{
  border: 1px solid blue;
}

html{
  font-family: $font-stack;
}

body{
  margin: 0 0;
  padding: 0 0;
  background: yellow;
}

header{
  background-color: $header-background;
}

section{
  margin: 0 10%;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

nav li {
  font-size: 1.3em;
  line-height: 40px;
  height: 40px;
  width: 20%;
  margin: auto;
  display:inline-block;
}

nav a {
  text-decoration: none;
  color: #fff;
}
