// Third-party
@import 'vendor/normalize';

// Modules
@import 'modules/colors';

$font-stack:'Lato', sans-serif;

$header-text: $color-lightest;
$header-background: $color-darkest;

$nav-text: $color-darkest;
$nav-link-background: $color-lightest;

//*{
//  border: 1px solid blue;
//}

html{
  font-family: $font-stack;
}

body{
  margin: 0 0;
  padding: 0 0;
  background: url(../img/swirl_pattern/swirl_pattern.png) repeat fixed 0 0;
  background-color: $color-tan;
}

header{
  background-color: rgba($header-background, 1.0);
  color: $header-text;
  border-bottom: 5px solid $color-darker;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  h1, h2{
   margin: 0 0 ; 
  }
}

#name-logo{
  display: inline-block;
  h1 {
    text-decoration:none;
    margin: 0 0;
    font-size: 4em;
    line-height: 0.8em;
  }
}

nav {
  float:right;
} 
nav ul {
  padding: 0;
  margin: auto auto;
}

nav li {
  display:inline-block;
  width: 130px;
  height: 40px;
  font-size: 1.3em;
  background-color: lighten($color-darkest, 10%);
  color: $color-gold;
  margin: 10px 3px 0 0;

  border-bottom: 10px groove $color-darker;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  border-top: 10px ridge $color-darker;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

nav a {
  font-weight: bold;
  text-align: center;
  height: 40px;
  line-height: 40px;
  display: block;
  text-decoration: none;
  color: $color-gold;
}

nav a:hover,
{
  color: $color-darkest;
  background-color: $color-lightest; 
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

nav a.active {
  background-color: $color-lightest; 
  color: $color-darkest;
  border-bottom: 10px ridge $color-gold;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

section{
  margin: 85px 10% 0;
  padding-top: 1px;
  background-color: $color-tan;
  min-height: 800px;
}

article{
  background-color: $color-lightest;
  margin: 20px 30px;
  border: 2px solid $color-darkest;
  border-top: 8px ridge $color-darker;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  p{
    margin: 10px 20px;
    font-size: 1.1em;
  }
}

.article-top{
  color: $color-gold-bright;
  background-color: lighten($color-darkest, 10%);
  *{
    margin: 0 5px 0 20px;
  }
  h1{
    font-size: 1.3em; 
    font-weight: 900;
  }
  h2{
    font-size: 1.5em; 
    color: $color-tan;
    font-style: italic;
  }
}

