/* normalize.css 2011-07-06T20:20 UTC //github.com/jonathantneal/normalize.css
 * */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

html {
  cursor: default;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body, form, input, button, select, textarea {
  font-size: 100%;
  margin: 0; }

a, a:active, a:hover {
  outline: none; }

a:focus {
  outline: thin dotted; }

abbr {
  _border-bottom: expression(this.title ? '1px dotted':'none'); }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #FF0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace,monospace;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small, sub, sup {
  font-size: 75%; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

nav ul {
  list-style: none; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline; }

audio {
  display: none;
  _display: expression(this.controls ? 'inline':'none');
  *zoom: 1; }

audio[controls] {
  display: inline-block; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

legend {
  *margin-left: -7px; }

button, input, select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  _overflow: expression(this.type == 'button|reset|submit' ? 'visible':''); }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  overflow: visible; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "Lato", sans-serif; }

body {
  margin: 0 0;
  padding: 0 0;
  background: url(../img/swirl_pattern/swirl_pattern.png) repeat fixed 0 0;
  background-color: #ebe6da; }

header {
  background-color: #1a1a1a;
  color: #fcfcfb;
  border-bottom: 2px solid #a79e89;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%; }
  header h1, header h2 {
    margin: 0 0; }

#name-logo {
  display: inline-block; }
  #name-logo h1 {
    text-decoration: none;
    margin: 0 0;
    font-size: 4em;
    line-height: 0.8em; }
    #name-logo h1 a {
      text-decoration: none;
      color: #fcfcfb; }
    #name-logo h1 a:hover {
      color: #a79e89; }

nav {
  float: right; }

nav ul {
  padding: 0;
  margin: auto auto; }

nav li {
  display: inline-block;
  height: 80px;
  font-size: 1.3em;
  color: #e3b339;
  margin: 0px 20px 0 0; }

nav a {
  width: 110px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  display: block;
  text-decoration: none;
  color: #e3b339;
  padding-left: 10px; }

nav a:hover {
  color: #1a1a1a;
  background-color: #fcfcfb;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
  border-left: 10px groove #a79e89;
  padding-left: 0; }

nav a.active {
  background-color: #fcfcfb;
  color: #1a1a1a;
  border-left: 10px ridge #e3b339;
  padding-left: 0; }

section {
  margin: 75px 6% 0;
  padding: 5px 0;
  background-color: rgba(235, 230, 218, 0.8); }

article {
  background-color: #fcfcfb;
  margin: 20px 50px;
  border: 2px solid #1a1a1a;
  border-top: 10px ridge #a79e89;
  overflow: hidden;
  border-bottom-right-radius: 20px; }
  article p {
    margin: 10px 20px;
    font-size: 1.1em; }

.article-top {
  color: #e5b339;
  background-color: #1a1a1a;
  border-bottom: 5px solid #e3b339;
  padding-top: 10px; }
  .article-top * {
    margin: 0 5px 0 20px; }
  .article-top h1 {
    font-size: 1.8em;
    font-weight: 900;
    font-style: italic; }
  .article-top h2 {
    font-size: 1.5em;
    color: #fcfcfb;
    font-weight: 400;
    margin-bottom: 10px; }

.about-container {
  margin: 30px 10%;
  color: #1a1a1a;
  border: 1px solid red;
  width: 80%;
  overflow: hidden;
  border: 2px solid #1a1a1a;
  border-top: 8px ridge #a79e89;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  background-color: #fcfcfb; }
  .about-container p {
    margin: 10px 20px;
    font-size: 1.1em; }

.about-img {
  margin: 20px 20px;
  float: right;
  text-align: center; }
  .about-img p {
    font-style: italic;
    font-size: 1em;
    color: #676767; }

.about-text {
  margin: 20px 20px; }
  .about-text p {
    margin: 20px  0; }
